// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

.borderRS1_e8e8e8 {
  border-right: 1px solid #e8e8e8 
}

.marginT10 {
  margin-top: 10px;
}
.marginT8 {
  margin-top: 8px;
}
.marginT4 {
  margin-top: 4px;
}

.marginB10 {
  margin-bottom: 10px;
}
.marginB8 {
  margin-bottom: 8px;
}

.marginL4 {
  margin-left: 4px;
}
.marginL8 {
  margin-left: 8px;
}

.marginTB8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.C999 {
  color: #999;
}

.CDDD {
  color: #DDD;
}





.bs-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
  border-radius: 5px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#333;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:9px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bs-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.bs-button:active {
	position:relative;
	top:1px;
}


.font10 {
  font-size: 10px;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font10B {
  font-size: 10px;
  font-weight: bold;
}
.font12B {
  font-size: 12px;
  font-weight: bold;
}
.font14B {
  font-size: 14px;
  font-weight: bold;
}

.CBBB {
  color: #BBB;
}
.CFFF {
  color: #FFF;
}

body {
  background-image: image-url('bg.png') ;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #c0deed;
}

input[type="text"], textarea {
  background-color: #cccccc;
}


#top-menu {
  li a span {
    font: 10px;
  }
}

#home {
  width: 21px;
  height: 22px;
  display: inline-block;
  margin: -4px 6px 0 0;
  vertical-align: text-top;
  background: image-url('twitter_web_sprite_icons.png') 0px -50px;
  background-repeat: no-repeat;
}

#connect {
  width: 21px;
  height: 22px;
  display: inline-block;
  margin: -4px 6px 0 0;
  vertical-align: text-top;
  background: image-url('twitter_web_sprite_icons.png') -80px -50px;
  background-repeat: no-repeat;
}

#discover {
  width: 21px;
  height: 22px;
  display: inline-block;
  margin: -4px 6px 0 0;
  vertical-align: text-top;
  background: image-url('twitter_web_sprite_icons.png') -40px -50px;
  background-repeat: no-repeat;
}

#me {
  width: 21px;
  height: 22px;
  display: inline-block;
  margin: -4px 6px 0 0;
  vertical-align: text-top;
  background: image-url('twitter_web_sprite_icons.png') -120px -110px;
  background-repeat: no-repeat;
}

#bird-topbar {
  margin-left: 50px;
  margin-right: 50px;
  #bird {
    width: 24px;
    height: 21px;
    display: inline-block;
    vertical-align: text-top;
    background: image-url('twitter_web_sprite_icons.png') -40px -0px;
    background-repeat: no-repeat;
  }
}

#direct-messages {
  width: 20px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  background: image-url('twitter_web_sprite_icons.png') -87px -880px;
  background-repeat: no-repeat;
  margin-top: -2px;
}
#user-dropdown {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: text-top;
  background: image-url('twitter_web_sprite_icons.png') -160px -50px;
  background-repeat: no-repeat;
  margin: -3px 6px 0 0;
}

#new-tweet {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: text-top;
  background: image-url('twitter_web_sprite_icons.png') -200px -50px;
  background-repeat: no-repeat;
  margin: -3px;
}

#tweet-btn {
  border-radius: 5px;
}



#search {
  border-radius: 15px;
  height: 26px;
  width: 150px;
  line-height: 1;
  font-size: 12px;
}

#trends {
  background-color: #fff;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #AAA;
  #trends-title {
    margin-left: 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0px;
  }
  a {
    color: #0084B4;
  }
  li {
    padding-left: 10px;
    a {
      color: #0084B4;
    }
  }
}

#tweets {
  background-color: #fff;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #AAA;
  #tweets-title {
    margin-left: 12px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e8e8e8;
  }
  #tweet_profile_image {
    margin-left: 8px;
    border-radius: 5px;
  }
  li {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 8px;
    padding-bottom: 6px;
    cursor: pointer;
  }
  li:hover {
    .CDDD {
      color: #999;
    }
    .C999 {
      color: #0084B4;
    }
  }
}

.hover-grey:hover {
  background-color: #f5f5f5;
}
.hover-blue:hover {
  color: #0084B4;
}
.hover-black:hover {
  color: #000;
}
.hover-underline:hover {
  text-decoration: underline;
}

#user_socials1 {
  margin-top: 55px;
  font-size: 14px;
  background-color: #fff;
  color: #0084B4;
  border-radius: 5px;
  border: 1px solid #AAA;
  li {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      color: #0084B4;
    }
    a:hover {
      color: #000;
    }
  }
  li#active {
    a {
      color: #000;
      font-weight: bold;
    }
  }
  .bottomBorder {
    border-bottom: 1px solid #e8e8e8;
  }
}
.evitca {
  color: #0084B4
}
#profil {
  height: 255px;
  color: #FFF;
  margin-top: 55px;
  background-size: 100%;
  background-image: image-url('grey_header_web_retina.jpg');
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  #details {
    #main_profile_image {
      height: 78px;
      width: 78px;
      border: 4px solid #fff;
      border-radius: 5px;
      background-color: #fff;
      margin-top: 20px;
      margin-bottom: 6px;
      img {
        width: 73px;
      }
    }
    #name {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 7px;
    }
    #screen_name {
      font-size: 18px;
      margin-bottom: 6px;
    }
    #description {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 6px;
    }
    #url {
      font-size: 14px;
      a {
        color: #fff;
      }
    }
  }
}

#user_socials2 {
  border: 1px solid #AAA;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 16px;
  a {
    color: #000;
  }
  .hover-blue:hover {
    cursor: pointer;
    .font12B {
      color: #0084B4;
    }
    .C999 {
      color: #0084B4;
    }
  }
}



